<link rel="stylesheet" href="CardCSS.css">

<div class="flip-card">

    <div class="flip-card-inner">

        <div class="flip-card-front">
            <img src="Spider-man1.jpg" alt="Marvel's Spider-man" style="width:100%">
            <h1>Marvel's Spider-Man PS4</h1>
            <p>(PlayStation 4 Exclusive)</p>
            <p class="price">$69.95</p>
            <p>Released 27/08/2019</p>
            <p>Critically Acclaimed</p>
            <p>PS4 Pro Enhanced</p>
            <p>*Bring your cursor near to buy*</p>
        </div>

        <div class="flip-card-back">
            <h1>About game...</h1>
            <p>Marvel's Spider-Man is an open-world third-person action-adventure game, in which the player controls Peter Parker, under his superhero identity Spider-Man, through Manhattan, New York City to fight crime. ... Using tokens rewarded from objectives, Spider-Man can unlock and craft new gadgets, suits, and Suit Mods.</p>
            <hr>
            <p><u><b>Key features:</u></b><br>
                Play as Spider-Man<br>
                Experience an original story<br>
                Marvel's New York is your playground<br>
            </p>
        
            <hr>
            <p><b>Publisher:</b> Sony Interactive Entertainment Europe</p>
            <p><b>Genre:</b> Action</p>
            <p><b>Voice:</b> English, French (France), German, Italian</p>
            <p><b><u>Reviews:</b></u><br>
                IGN: 8.7/10<br>
                Gamespot: 9/10<br>
            </p>
            <a href="https://www.youtube.com/watch?v=q4GdJVvdxss">Watch Trailer...</a>
            <p><button>Buy this game</button></p>
            <a href="https://www.playstation.com/en-au/games/marvels-spider-man/">More info...</a>
        </div>

    </div>

</div>